<mat-form-field>
  <mat-label>Password</mat-label>
  <input
    type="password"
    matInput
    [formControl]="customPasswordInput"
    [errorStateMatcher]="matcher"
    placeholder="Enter here your password...">

  <mat-error *ngIf="customPasswordInput.errors?.['minlength']">
    Must have at least <strong>{{customPasswordInput.errors?.['minlength'].requiredLength}}</strong> symbols.
    Now it is <strong>{{customPasswordInput.value.length}}</strong>
  </mat-error>

  <mat-error *ngIf="customPasswordInput?.errors?.['required'] && customPasswordInput?.touched">
    Password is <strong>required</strong>
  </mat-error>
</mat-form-field>
