<div [ngClass]="{'red': passwordControl.errors?.['minlength'], 'gray': passwordControl.value?.length === 0}">
  <div class="section"
       [ngClass]="{'red': status === 'easy', 'yellow': status === 'medium', 'green': status === 'strong'}">
    The password is easy
  </div>
  <div class="section"
       [ngClass]="{'gray': status === 'easy', 'yellow': status === 'medium', 'green': status === 'strong'}">
    The password is medium
  </div>
  <div class="section"
       [ngClass]="{'gray': status === 'easy' || status === 'medium', 'green': status === 'strong'}">
    The password is strong
  </div>
</div>
